@Model Student
@{
    ViewData["Title"] = "Create New Student";
}


<h1>@ViewData["Title"]</h1>


<form asp-action=" Create">method = "Post"</form>

<label>Name: </label>
<input>asp=for = "Name"</input>
<label>"Date of BIrth"</label>
<input>asp-for = "Date of Birth" type = "date"</input>
<button type="Submit">creates</button>
