@{
    ViewData["Title"] = "Ppc Students";
}

<div class="text-center">
    <h1 class="display-4">Expanding Opportunities, Enhancing Futures</h1>


    <h2 class="display-1"> Find out more about prior pursglove via our facebook </h2>
    <p> <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        <a asp-controller="Students" asp-action="Index" class="btn btn-primary">
            View Students
        </a>
    </p>
</div>


